.scroll_light::-webkit-scrollbar {
  width: 10px;
}
.scroll_light::-webkit-scrollbar-track {
  background-color: #2F3040;
  border-radius: 10px;
}
.scroll_light::-webkit-scrollbar-thumb {
  background: #e8d8f2;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.scroll_dark::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.scroll_dark::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 10px;
}
.scroll_dark::-webkit-scrollbar-thumb {
  background: #9a8da1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container {
  position: relative;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  height: 100%;
}
.container > * {
  background-color: #F7E9B3;
}
.container.completed > * {
  background-color: #e7ffe7 !important;
}
.container.failed > * {
  background-color: #ffdcdc !important;
}
.container .header {
  display: flex;
  align-items: center;
  z-index: 2;
  border-radius: 0;
  /*box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.25);*/
  padding: 7px 12px;
  gap: 5px;
}
.container .header .name {
  font-size: 24px;
  font-weight: 500;
  background-color: transparent;
  border: none;
  outline: none;
  flex: 1;
  min-width: 0;
  text-overflow: ellipsis;
  overflow: hidden;
}
.container .main {
  flex: 1;
  margin: 0;
  padding: 5px 12px;
}
.container .main .desc {
  font-size: 13px;
  background-color: transparent;
  border: none;
  outline: none;
  resize: none;
  width: 100%;
  height: 100%;
}
.container .main .desc::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container .main .desc::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 10px;
}
.container .main .desc::-webkit-scrollbar-thumb {
  background: #9a8da1;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container .footer {
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0;
  /*box-shadow: 1px -1px 4px 1px rgba(0, 0, 0, 0.25);*/
  padding: 9px 12px;
}
.container .footer .files {
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  width: 100%;
  padding: 5px;
}
.container .footer .files::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.container .footer .files::-webkit-scrollbar-track {
  background-color: #fafafa;
  border-radius: 10px;
}
.container .footer .files::-webkit-scrollbar-thumb {
  background: #FFFFFF;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.container .footer .files .filesInput {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}
.container .footer .files .filesInput:hover {
  color: #2F3040;
}
.container .footer .datetime {
  display: flex;
  align-items: center;
  font-size: 13px;
  min-height: 24px;
  gap: 5px;
}
.container .footer .datetime .param_name {
  font-weight: 500;
}
.container .footer .datetime .value {
  border: none;
  outline: none;
  border-radius: 5px;
  min-width: 0;
  padding: 1px 5px;
}
/*# sourceMappingURL=Todo.module.css.map */
